<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Forex Converter</h1>
    <form action='/convert' method="POST">
        <p class="inpfields"> Converting From <input name = "convert from"/></p>
        <p class="inpfields"> Converting To <input name = "convert to"/></p>
        <p class="inpfields"> Amount <input name = "amount"/></p>
        <button>Convert</button>
        
    </form>
</body>
</html>